<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HI</h1>
    <img src="{% static 'images/1635179028316.png' %}">
</body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Hi</h1> -->
    <table style="border-collapse: collapse; width: 100%" border="0" height="10%" cellpadding="%15">
            
        <tr style="background-color: steelblue;">
        <td align="left"><img src="{% static 'images/facebook-450x130.png' %}" height="" width="25%"></td>
        <td align="right">
            <form>
                <input type="text" value="">
                <input type="text" value="">
            <input type="button" value="Login">
            </form>
            
        </td>
    </tr>
    
    <tr>
        <td>
            <table align="left" style="border-collapse: collapse;" width="100%" cellspacing="15%" border="0">
          <h2><b> Connect with friends and the world around on you</b>
          </b> </h2>
          <tr>
            <!-- <th align="left" style="border-collapse: collapse;" height="10%" width="" border="0">Connect with friends and the world around on you on Facebook</th> -->
              <td><img src="" alt="not found" ><b> See photos and updates from friends in News feed</b>
            </td></tr><br /><br />
            <tr>
                <td><img src="" alt="not found"><b> Share what's new in your Timeline</b></td>
            </tr><br /><br />
            <tr>
                <td><img src="" alt="not found"><b> Find more of what you are looking for with Graph Search</b></td>
        </tr></table>
        <td>
        <table style="border-collapse: collapse;" border="0" align="right">
         <from>
             <input type="text" placeholder="First name">
             <input type="text" placeholder="Last name"><br /><br />
             <input type="text" placeholder="Phone Number"><br /><br />
             <input type="text" placeholder="Email"></br /><br />
             <input type="password" placeholder="Password"><br /><br />
            <!-- <img src="https://www.freeiconspng.com/uploads/green-sign-up-button-png-8.png" height="25px" >
            <a href="cybersquare.html">Click here</a> -->
         </from></td></table>
         </table>
</body>
</html>